<div class="row">
    <div class="col-md-8">
        <h3>Update a task</h3>
        <form id="update-task" method="post">
            <div class="control-group form-group">
                <div class="controls">
                    <label for="text">Text:</label>
                    <textarea rows="10" cols="100" class="form-control" placeholder="Enter task text"  name="text" id="text" required data-validation-required-message="Please enter task text" maxlength="999" style="resize:none"
                       ><?php echo isset($old['text']) ? $old['text'] : $task->text;?></textarea>
                    <p class="help-block"><?php if (isset($errors['text'])){ echo $errors['text']; } ?></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="status">Status:</label>
                    <select class="form-control" name="status" id="status">
                        <option value="">==Select status==</option>
                        <option value="0" <?php echo ($task->status != 1 ? 'selected':'') ;?> >In process</option>
                        <option value="1" <?php echo ($task->status ? 'selected':'') ;?> >Completed</option>
                    </select>
                    <p class="help-block"><?php if (isset($errors['text'])){ echo $errors['text']; } ?></p>
                </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Update</button>
        </form>    </div>
    <div class="col-md-4">
        <h3>About tasks</h3>
        <p>
            User <?=$task->user->first_name;?> <?=$task->user->last_name;?>
        </p>
        <p>
            email <?=$task->user->email;?>
        </p>
        <p>
            Created <?php echo (app\App::getComponent('help'))->date('d.m.Y', strtotime($task->created_at));?>
        </p>
        <p>
            Updated <?php echo (app\App::getComponent('help'))->date('d.m.Y', strtotime($task->updated_at));?>
        </p>
    </div>
</div>