<div class="row">
    <div class="col-md-8">
        <h3>Login</h3>
        <form name="sentMessage" id="create-task" method="post">
            <div class="control-group form-group">
                <div class="controls">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Enter your name"  required data-validation-required-message="Please enter your name."
                           value="<?php if (isset($old['name'])){ echo $old['name']; } ?>">
                    <p class="help-block"><?php if (isset($errors['name'])){ echo $errors['name']; } ?></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="password">Password:</label>
                    <input type="tel" class="form-control" placeholder="Enter your password"  name="password"  id="password" data-validation-required-message="Please enter your password."
                           value="<?php if (isset($old['password'])){ echo $old['password']; } ?>">
                    <p class="help-block"><?php if (isset($errors['password'])){ echo $errors['password']; } ?></p>
                </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>About accounts</h3>
        <p>
            As you stay as user you can ....bla bla bla  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugiat incidunt magni quis repellendus repudiandae? Aperiam delectus dicta dignissimos ducimus expedita illo, itaque, minus neque numquam rerum, tenetur ut vero.
        </p>
    </div>
</div>